body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url(images/1.2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

/*background: linear-gradient(rgb(241, 215, 165), rgb(218, 154, 37)); */

header {
    border-top: none;
    border-bottom: 2px solid rgb(212, 128, 48);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(59, 52, 37, 0.534);
    padding: 1%;
}

header h1 {
    margin-left: 2%;
    background: -webkit-linear-gradient(black,rgb(255, 115, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 1000;
}

.navContainer a{
    float: right;
    margin-top: 1%;
    margin-right: 5%;
    padding: 5px;
    text-decoration: none;
    border: 2px solid rgb(212, 128, 48);
    border-radius: 10px;
    color: rgb(243, 243, 243);
    background-color:  rgba(59, 52, 37, 0.534);
    transition: ease-in 0.2s;
}

.navContainer a:hover {
    background-color: rgba(59, 52, 37, 0.434);
    border: 1px solid rgb(212, 128, 48);
    padding: 5.5px;
    font-size: 18px;
    color: rgb(252, 165, 52);
    box-shadow: 0 0 15px rgb(252, 125, 7);
}

.splash {
    border-radius: 35px;
    Width: 90%;
    height: 600px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    position: relative;
}

.splash h1 {
    margin-top: 2%;
    text-align: left;
    position: relative;
    color: rgb(40, 91, 126);
    font-size: 52px;
}

/* color: rgb(36, 100, 143); */

.splash p {
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000 3px 3px 3px blue;
}

.splashButtons {
    margin-left: 25%;
}

.splashButtons a {
    
}

.table {
    margin-left: 25%;
    margin-top: 5%;
}

.title {
    margin-left: 5%;
    margin-top: 5%;
}

.info1 {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
} 

footer {
    width: 100%;
    height: 150px;
    border-top: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(8, 65, 170);
}