body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 202, 206);
    background-image: url(images/screenL.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

/*background: linear-gradient(rgb(241, 215, 165), rgb(218, 154, 37)); */

header {
    border-top: none;
    border-bottom: 2px solid rgb(212, 128, 48);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(59, 52, 37, 0.534);
    padding: 1%;
}

header h1 {
    margin-left: 2%;
    background: -webkit-linear-gradient(black,rgb(255, 115, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    top: 0;
    position: sticky;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.navContainer a{
    margin-top: 1%;
    margin-right: 5%;
    padding: 5px;
    border: 2px solid rgb(212, 128, 48);
    border-radius: 10px;
    float: right;
    color: rgb(243, 243, 243);
    text-decoration: none;
    background-color:  rgba(59, 52, 37, 0.534);
    transition: ease-in 0.2s;
}

.navContainer a:hover {
    background-color: rgba(59, 52, 37, 0.434);
    border: 1px solid rgb(212, 128, 48);
    padding: 5.5px;
    font-size: 18px;
    color: rgb(252, 165, 52);
    box-shadow: 0 0 15px rgb(252, 125, 7);
}

.splash {
    border-radius: 35px;
    Width: 90%;
    height: 600px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    
}

.splash h1 {
    margin-top: 2%;
    text-align: left;
    color: rgb(40, 91, 126);
    font-size: 52px;
}

/* color: rgb(36, 100, 143); */

.splash p {
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000 3px 3px 3px blue;
    box-shadow: 0 0 15px rgb(40, 91, 126);
}

.jumbotron {
    width: 700px;
    background: none;
    margin-top: 5%;
    margin-left: 15%;
}

.jumbotron p {
    margin-left: 5%;
}

#about {
    width: 100%;
}

.imgDisplay1 img {
    width: 250px;
    height: 450px;
    border: 10px solid rgba(130, 131, 69, 0.5);
    border-radius: 15px;
    margin-right: 5%;
    float: right;
}

.imgDisplay2 img {
    width: 40%;
    height: 25%;
    margin-top: 5%;
    margin-left: 5%;
    border: 10px solid rgba(130, 131, 69, 0.5);
    border-radius: 15px;
    float: left;
}

#info3 {
    margin-left: 45%;
}

footer {
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 5%;
    border-top: 3px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(45, 46, 51);
    float: left;
}

footer h5 {
    color: rgb(255, 255, 255);
    margin-left: 5%;
}

.mediaOption {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 10%;
}

.mediaOption p {
    display: inline-block;
    color: white;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {

}

@media only screen and (max-width: 425px) and (min-width: 376px) {
    body {
        background-size: auto;
        background-image: url(images/screenM.jpg);
        width: 100%;
    }

    h1 {
        margin-left: 15px;
    }

    p, ul{
        font-size: 22px;
        width: 120%;
    }

    header {
        width: 180%;
    }

    .splash {
        margin-top: 35%;
    }

    .splash h1 {
        font-size: 35px;
        color: rgb(24, 56, 78);
        font-weight: bold;
    }

    .splash p {
        width: 150%;
        height: 51%;
        margin-left: 0%;
        margin-right: 0px;
        float: left;
    }

    .jumbotron {
        margin-left: 0;
        width: 100%;
    }

    .jumbotron p {
        margin-left: 15%;
    }

    .imgDisplay1 img {
        display: none;
        margin-left: 5%;
        float: left;
    }

    .imgDisplay2 {
        display: none;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        height: 520px;
        float: left;
    }

    #info3 {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
    }

    #info3 ul {
        margin-left: 12%;
    }
    


    footer {
        width: 148%;
    }

}

/*
width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 202, 206);
    background-image: url(images/1.2.jpg);
    background-size: contain;
    background-repeat: no-repeat;


.splash {
    border-radius: 35px;
    Width: 90%;
    height: 600px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    
}

.splash h1 {
    margin-top: 2%;
    text-align: left;
    color: rgb(40, 91, 126);
    font-size: 52px;
}

.splash p {
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000 3px 3px 3px blue;
    box-shadow: 0 0 15px rgb(40, 91, 126);
}
*/















